<maine>
  <h1 class="text-center">Hello World</h1>  
  <h2 class="text-end">Second</h2>
  <h3 class="text-capitalize">triple riple piple</h3>
  <hr>
   <div class="display-1">Hello World</div>
  <div>Second</div>
  <div>Triple</div>
  <hr>
  
    <span class="text-suppercase"> Додатковий текст</span>
    <button class="btn btn-primary"> primary button </button>
  <hr>
  <button class="btn btn-secondary">
    <span class="text-uppercase"> secondary button</span>
    <h1>tet</h1>
    </button>
<hr>
     <button class="btn btn-success"> success button </button>
    <button class="btn btn-danger"> danger button </button>
     <button class="btn btn-warning"> warning button </button>
     <button class="btn btn-info"> info button </button>
<button class="btn btn-light"> light button </button>
<button class="btn btn-dark"> dark button </button>
<button class="btn btn-link"> link button </button>
<hr>
<a href='#' class="btn btn-link"> link button </a>
<p class="text-primary">My text</p>
<hr>
 <button class="btn btn-outline-success"> success button </button>
    <button class="btn btn-outline-danger"> danger button </button>
     <button class="btn btn-outline-warning"> warning button </button>
     <button class="btn btn-outline-info"> info button </button>
<button class="btn btn-outline-light"> light button </button>
<button class="btn btn-outline-dark"> dark button </button>
<button class="btn btn-outline-link"> link button </button>
<hr>
<div class="card">
    <div class="body" card body>
    <button class="btn btn-outline-warning btn-sm"> sm button </button>
<button class="btn btn-outline-warning"> origin button </button>
<button class="btn btn-outline-warning btn-lg"> bg button </button>
    </div>
</div>

<hr>
<div class="card">
    <div class="card body" card body>
        This is content
    </div>
</div>

</maine>